html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body, #root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

:root {
    --BG: #FBEEC1;
    --MC: #659DBD;
    --accent1: #DAAD86;
    --accent2: #8D8741;
    --text: #333333;
    } 

body {
  margin: 0;
  padding: 0;
}

.profilepic {
    height: 100px;
  
  }
