:root {
  --BG: #FBEEC1;
  --MC: #659DBD;
  --accent1: #DAAD86;
  --accent2: #8D8741;
  --text: #333333;
  } 

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.card {
  background-color: var(--text) !important;
  width: 100%; 
  color: var(--BG);
}

.projects-title {
  text-align: center;
}




