:root {
  --BG: #FBEEC1;
  --MC: #659DBD;
  --accent1: #DAAD86;
  --accent2: #8D8741;
  --text: #333333;
  } 

.header {
  background: #f9b713;
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}


