/* :root {
    --BG: #FBEEC1;
    --MC: #659DBD;
    --accent1: #DAAD86;
    --accent2: #E53658;;
    --text: #333333;
    }  */

.bottom {
    background-color: var(--MC) !important; 
    width: 100%;
    padding: 10px 0;
}



.footerRow {
    width: 100%; 
}

.widerFooter {
    text-align: center;
}

.leftFooter {
    padding: 0 0 0 0px;
    color: var(--accent2)
}

.rightFooter {
    text-align: right;
    padding: 0 0 0 0px;
}