:root {
  --BG: #FBEEC1;
  --MC: #659DBD;
  --accent1: #DAAD86;
  --accent2: #8D8741;
  --text: #333333;
  } 

.header {
  background: var(--BG);
  height: 200px;
}

.header h1 {
  margin: 10;
  padding-top: 20px;
  text-align: center;
  color: var(--text);
  font-size: 3rem;
  text-shadow: #FBEEC1;
}

.profilepic {
  height: 200px;
  margin: 5px 0 0 -40px;
}

.logo {
  height: 50px;
  width: 100px;
  float: right;
  margin: 25px 0 0 0;


}



