

:root {
  --BG: #FBEEC1;
  --MC: #659DBD;
  --accent1: #DAAD86;
  --accent2: #8D8741;
  --text: #333333;
  } 

.navbar {
  background: var(--MC);
  height: 80px;
  text-align: center; 
}

.navbar-background {
  z-index: 999;
  /* Overrides bootstrap */
  max-width: 100%; 
  text-align: center;
  background-color: var(--MC);
}

.navbar-brand {
  width: 150px;
  height: 60px;
  padding: 5px 0 5px 0;
}

.nav-link {
  margin: 5px 10px;
  padding: 0 0px 0 0px;
  margin: 0px;
  font-size: 20px;
  /* list-style-type: none; */
  background-color: var(--accent1);
  color: var(--accent2);
  text-shadow: 5px px #333333;
}


a:link {
  color: var(--BG);
  background-color: transparent;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

a:visited {
  color: var(--accent1);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--accent2);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--accent2);
  background-color: var(--text);
  text-decoration: underline;
}




